/*
 * diff2html CSS scoped under .d2h-scope to prevent global style leakage.
 * Original: diff2html/bundles/css/diff2html.min.css
 *
 * All selectors are nested under .d2h-scope so that diff2html styles
 * only apply within DiffView containers, not to the rest of the page.
 *
 * Vendor prefixes (-webkit-, -moz-, -ms-) present in the original CSS
 * are intentionally omitted here. Vite's build pipeline (via lightningcss,
 * used internally by @tailwindcss/vite) automatically adds the required
 * vendor prefixes for target browsers at build time.
 */

.d2h-scope {
  /* CSS custom properties (originally on :host,:root) */
  --d2h-bg-color: #fff;
  --d2h-border-color: #ddd;
  --d2h-dim-color: rgba(0, 0, 0, 0.3);
  --d2h-line-border-color: #eee;
  --d2h-file-header-bg-color: #f7f7f7;
  --d2h-file-header-border-color: #d8d8d8;
  --d2h-empty-placeholder-bg-color: #f1f1f1;
  --d2h-empty-placeholder-border-color: #e1e1e1;
  --d2h-selected-color: #c8e1ff;
  --d2h-ins-bg-color: #dfd;
  --d2h-ins-border-color: #b4e2b4;
  --d2h-ins-highlight-bg-color: #97f295;
  --d2h-ins-label-color: #399839;
  --d2h-del-bg-color: #fee8e9;
  --d2h-del-border-color: #e9aeae;
  --d2h-del-highlight-bg-color: #ffb6ba;
  --d2h-del-label-color: #c33;
  --d2h-change-del-color: #fdf2d0;
  --d2h-change-ins-color: #ded;
  --d2h-info-bg-color: #f8fafd;
  --d2h-info-border-color: #d5e4f2;
  --d2h-change-label-color: #d0b44c;
  --d2h-moved-label-color: #3572b0;

  /* diff2html component styles */

  & .d2h-wrapper {
    text-align: left;
  }

  & .d2h-file-header {
    background-color: var(--d2h-file-header-bg-color);
    border-bottom: 1px solid var(--d2h-file-header-border-color);
    display: flex;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 35px;
    padding: 5px 10px;
  }

  & .d2h-file-header.d2h-sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  & .d2h-file-stats {
    display: flex;
    font-size: 14px;
    margin-left: auto;
  }

  & .d2h-lines-added {
    border: 1px solid var(--d2h-ins-border-color);
    border-radius: 5px 0 0 5px;
    color: var(--d2h-ins-label-color);
    padding: 2px;
    text-align: right;
    vertical-align: middle;
  }

  & .d2h-lines-deleted {
    border: 1px solid var(--d2h-del-border-color);
    border-radius: 0 5px 5px 0;
    color: var(--d2h-del-label-color);
    margin-left: 1px;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
  }

  & .d2h-file-name-wrapper {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
  }

  & .d2h-file-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .d2h-file-wrapper {
    border: 1px solid var(--d2h-border-color);
    border-radius: 3px;
    margin-bottom: 1em;
  }

  & .d2h-file-collapse {
    cursor: pointer;
    display: none;
    font-size: 12px;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid var(--d2h-border-color);
    border-radius: 3px;
    padding: 4px 8px;
  }

  & .d2h-file-collapse.d2h-selected {
    background-color: var(--d2h-selected-color);
  }

  & .d2h-file-collapse-input {
    margin: 0 4px 0 0;
  }

  & .d2h-diff-table {
    border-collapse: collapse;
    font-family: Menlo, Consolas, monospace;
    font-size: 13px;
    width: 100%;
  }

  & .d2h-files-diff {
    display: flex;
    width: 100%;
  }

  & .d2h-file-diff {
    overflow-y: hidden;
  }

  & .d2h-file-diff.d2h-d-none,
  & .d2h-files-diff.d2h-d-none {
    display: none;
  }

  & .d2h-file-side-diff {
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 50%;
  }

  & .d2h-code-line {
    padding: 0 8em;
    width: calc(100% - 16em);
  }

  & .d2h-code-line,
  & .d2h-code-side-line {
    display: inline-block;
    user-select: none;
    white-space: nowrap;
  }

  & .d2h-code-side-line {
    padding: 0 4.5em;
    width: calc(100% - 9em);
  }

  & .d2h-code-line-ctn {
    background: none;
    display: inline-block;
    padding: 0;
    word-wrap: normal;
    user-select: text;
    vertical-align: middle;
    white-space: pre;
    width: 100%;
  }

  & .d2h-code-line del,
  & .d2h-code-side-line del {
    background-color: var(--d2h-del-highlight-bg-color);
  }

  & .d2h-code-line del,
  & .d2h-code-line ins,
  & .d2h-code-side-line del,
  & .d2h-code-side-line ins {
    border-radius: 0.2em;
    display: inline-block;
    margin-top: -1px;
    text-decoration: none;
  }

  & .d2h-code-line ins,
  & .d2h-code-side-line ins {
    background-color: var(--d2h-ins-highlight-bg-color);
    text-align: left;
  }

  & .d2h-code-line-prefix {
    background: none;
    display: inline;
    padding: 0;
    word-wrap: normal;
    white-space: pre;
  }

  & .line-num1 {
    float: left;
  }

  & .line-num1,
  & .line-num2 {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 0.5em;
    text-overflow: ellipsis;
    width: 3.5em;
  }

  & .line-num2 {
    float: right;
  }

  & .d2h-code-linenumber {
    background-color: var(--d2h-bg-color);
    border: solid var(--d2h-line-border-color);
    border-width: 0 1px;
    box-sizing: border-box;
    color: var(--d2h-dim-color);
    cursor: pointer;
    display: inline-block;
    position: absolute;
    text-align: right;
    width: 7.5em;
  }

  & .d2h-code-linenumber::after {
    content: "\200b";
  }

  & .d2h-code-side-linenumber {
    background-color: var(--d2h-bg-color);
    border: solid var(--d2h-line-border-color);
    border-width: 0 1px;
    box-sizing: border-box;
    color: var(--d2h-dim-color);
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0 0.5em;
    position: absolute;
    text-align: right;
    text-overflow: ellipsis;
    width: 4em;
  }

  & .d2h-code-side-linenumber::after {
    content: "\200b";
  }

  & .d2h-code-side-emptyplaceholder,
  & .d2h-emptyplaceholder {
    background-color: var(--d2h-empty-placeholder-bg-color);
    border-color: var(--d2h-empty-placeholder-border-color);
  }

  & .d2h-code-line-prefix,
  & .d2h-code-linenumber,
  & .d2h-code-side-linenumber,
  & .d2h-emptyplaceholder {
    user-select: none;
  }

  & .d2h-code-linenumber,
  & .d2h-code-side-linenumber {
    direction: rtl;
  }

  & .d2h-del {
    background-color: var(--d2h-del-bg-color);
    border-color: var(--d2h-del-border-color);
  }

  & .d2h-ins {
    background-color: var(--d2h-ins-bg-color);
    border-color: var(--d2h-ins-border-color);
  }

  & .d2h-info {
    background-color: var(--d2h-info-bg-color);
    border-color: var(--d2h-info-border-color);
    color: var(--d2h-dim-color);
  }

  & .d2h-file-diff .d2h-del.d2h-change {
    background-color: var(--d2h-change-del-color);
  }

  & .d2h-file-diff .d2h-ins.d2h-change {
    background-color: var(--d2h-change-ins-color);
  }

  & .d2h-file-list-wrapper {
    margin-bottom: 10px;
  }

  & .d2h-file-list-wrapper a {
    text-decoration: none;
  }

  & .d2h-file-list-wrapper a,
  & .d2h-file-list-wrapper a:visited {
    color: var(--d2h-moved-label-color);
  }

  & .d2h-file-list-header {
    text-align: left;
  }

  & .d2h-file-list-title {
    font-weight: 700;
  }

  & .d2h-file-list-line {
    display: flex;
    text-align: left;
  }

  & .d2h-file-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & .d2h-file-list > li {
    border-bottom: 1px solid var(--d2h-border-color);
    margin: 0;
    padding: 5px 10px;
  }

  & .d2h-file-list > li:last-child {
    border-bottom: none;
  }

  & .d2h-file-switch {
    cursor: pointer;
    display: none;
    font-size: 10px;
  }

  & .d2h-icon {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
  }

  & .d2h-deleted {
    color: var(--d2h-del-label-color);
  }

  & .d2h-added {
    color: var(--d2h-ins-label-color);
  }

  & .d2h-changed {
    color: var(--d2h-change-label-color);
  }

  & .d2h-moved {
    color: var(--d2h-moved-label-color);
  }

  & .d2h-tag {
    background-color: var(--d2h-bg-color);
    display: flex;
    font-size: 10px;
    margin-left: 5px;
    padding: 0 2px;
  }

  & .d2h-deleted-tag {
    border: 1px solid var(--d2h-del-label-color);
  }

  & .d2h-added-tag {
    border: 1px solid var(--d2h-ins-label-color);
  }

  & .d2h-changed-tag {
    border: 1px solid var(--d2h-change-label-color);
  }

  & .d2h-moved-tag {
    border: 1px solid var(--d2h-moved-label-color);
  }
}
